:root {
    --gem-req-bg-color: #ffffff50;
    --gem-reg-title-color: #000000;
    --gem-reg-desc-color: #000000;
    --gem-reg-padding: 2px;
    --gem-reg-margin-bottom: 10px;
}

.requirement {
    background-color: var(--gem-req-bg-color);
    padding: var(--gem-reg-padding);
    margin-bottom: var(--gem-reg-margin-bottom);
}

.requirement .heading {
    color: var(--gem-reg-title-color);
    font-weight: bold;
    margin-bottom: 10px;
}

.requirement p {
    color: var(--gem-reg-desc-color);
}