:root {
    --gem-req-bg-color: #fffbe9;
    --gem-reg-title-color: #000000;
    --gem-reg-title-size: 14px;
    --gem-reg-desc-size: 14px;
    --gem-reg-desc-color: #000000;
    --gem-reg-padding: 2px;
    --gem-reg-margin-bottom: 10px;
}

.requirement {
    background-color: var(--gem-req-bg-color);
    padding: var(--gem-reg-padding);
    margin-bottom: var(--gem-reg-margin-bottom);
}

.requirement h2 {
    color: var(--gem-reg-title-color);
    font-size: var(--gem-reg-title-size);
    font-weight: bold;
}

.requirement p {
    color: var(--gem-reg-desc-color);
    font-size: var(--gem-reg-desc-size);
}