

{% for release in site.data.release-notes.releases %}

{% if release.version == include.version %}

<table class="no-stripe">
    {% for requirement in release.requirements %}
    <tr>
        <td>
            <strong>{{ requirement.release_status }}:</strong> 
        </td>
        <td>
            <span>{{ requirement.key }}{% if requirement.version > 1 %}-{{ requirement.version }}{% endif %}</span>
        </td>
        <td>
            {{ requirement.title }}
        </td>
        <td>
            {% for actor in requirement.actor %}{% if forloop.first %} - {% endif %}<i>{{ actor }}</i>{% if forloop.last == false %}, {% endif %}{% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endfor %}
