{% for req in site.data.requirements %}
{% if forloop.first%}
<table width="100%">
    <thead>
        <tr>
          <th>ID</th>
          <th>Titel</th>
          <th>Anforderung</th>
        </tr>
    </thead>
    <tbody>
{% endif %}
{% if req.actor contains include.actor %}
        <tr>
            <td>
                <a class="requirement-link" href="./{{ req.path  | default "#" }}" data-anchor="{{ req.key }}{% if req.version > 1 %}-{{ req.version }}{% endif %}">
                    {{ req.key }}{% if req.version > 1 %}-{{ req.version }}{% endif %}
                </a>
            </td>
            <td>{{ req.title }}</td>
            <td>
                {% case req.conformance %}
                    {% when "SHALL" %} MUSS
                    {% when "SHOULD" %} KANN
                    {% when "SHOULD NOT" %} DARF NICHT
                    {% when "MAY" %} OPTIONAL
                    {% else %} {{ req.conformance }}
                {% endcase %}
            </td>
        </tr>
{% endif %}
{% if forloop.last %}
    </tbody>
</table>
{% endif %}
{% endfor %}
